.signin-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1db954;
}
.signin-form{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.signin-form h1{
    margin-bottom: 1rem;
}
label{
    display: block;
    margin-bottom: 0.5rem;
}
input{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
}
button{
    padding: 1rem;
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#error-message{
    color: red;
    margin-bottom: 1rem;
}